.content{
    width: 50%;
    padding: 8%;
    height: 100%;
}
.hero{
    width: 50%;
    padding: 9%;
    align-items: center;
    gap: 10%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/home/studen/Documents/JS-AnitaB/Dashboard_Icons/dashboard/public/Images/man.jpeg");
}
.hero_image{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-top: 30%;
    margin-left: 20%;

    
}
.container{
    display: flex;
}
.logo_img{
    height: 50px;
    width: 50px;
}
.hero_img{
    width: 120px;
    height: 120px;
}
p{
    font-size: 22px;
}
input{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Platform{
    display: flex;
    gap: 4%;
    padding: 20px;

}
.slider{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 4%;
    margin-top: 5%;
}
.ToggleSlider {
    --slider-color: #2E4053; 
    width: 200px; 
  }
  
  .ToggleSlider .slider {
    background-color: var(--slider-color); /* Use the dark blue color for the slider */
  }
button{
    width: 200px;
    padding: 15px;
    background-color: #090958;
    border-radius: 10px;
    color: white;
    font-style: bold;
    border: none;
    margin: 0 auto;
    margin-left: 23%;
}
.signup_text{
    color: #090958;
}
.call-to-action{
    margin-left: 10%;
}
h1{
    font-size: 70px;
    color: white;
}



